.dropshadow>img
{
  filter: drop-shadow(.2vw .2vw .2vw grey);
}


.note {
  padding: .4rem .4rem .5rem .8rem;
  background-color: lightgoldenrodyellow;
  border-left: 6px solid chocolate;
  font-size: smaller;
}